* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color:#34495e;
  }
  
  .formulario { /*Formulario en sí: color de fondo,fuente.... */
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Roboto';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .formulario h4 { /* "Formulario de Registro" texto*/
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .caja { /*Cajas del formulario*/
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'Roboto';
    font-size: 18px;
    color: white;
  }
  
  .formulario p { /* Ya tienes cuenta?*/
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .formulario a { /* Ya tienes cuenta?*/
    color: white;
    text-decoration: none;
  }
  
  .formulario a:hover { /* Ya tienes cuenta? para subrayar al pasar el raton por encima*/
    color: white;
    text-decoration: underline;
  }
  
  .formulario .botones { /*Los botones del formulario*/
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
  .bad {
    text-align: center;
    width: 100%;
    padding: 12px;
    background-color: #a22;
    color: #fff
  }
  .bien {
    text-align: center;
    width: 100%;
    padding: 12px;
    background-color:forestgreen;
    color: #fff
  }
.listaperros table{
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 4px;
}

table th{
    padding: 16px;
    text-align: center;
    font-size: .85em;
}