*{
    box-sizing:border-box;
}

body{
    margin: 0;
    background: gray;
}

nav{
    width: 100%;
    height: 50px;
    background-color: #34495e;
    font-size: 0;
    position: fixed;
    top: 0;
    z-index: 1030; 
}

nav a {
    width: 100%;
    line-height: 60px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position:relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;

}
 nav ul {
    width: 70%;
    margin: auto;
}

a:nth-child(1){
    width: 120px;
}

a:nth-child(2){
    width: 120px;
}

a:nth-child(3){
    width: 120px;
}

a:nth-child(4){
    width: 120px;
}



body {

    font-size: 24px;
    font-family: sans-serif;
    background: #2c3e50;
    text-align: center;
    color: black;
}

.logo{
    position:relative;
    right: 1000px;
    height: 40px;
    bottom:-4px;
  }

.gallery {

    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 390px;
}

.gallery img {
    width: 100%;
    height: auto;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornsilk;


}


.logo{
    position:relative;
    right: 1000px;
    height: 40px;
    bottom:-4px;
  }


footer{

    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    color: white;
    background: #2a418d;
    font-family: Arial;
    letter-spacing: 1px;

}