nav{
    width: 100%;
    height: 50px;
    background-color: #34495e;
    font-size: 0;
    position: fixed;
    top: 0;
    z-index: 1030; 
}

nav a {

    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position:relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;

}

a:nth-child(1){
    width: 100px;
}

a:nth-child(2){
    width: 110px;
}

a:nth-child(3){
    width: 100px;
}

a:nth-child(4){
    width: 160px;
}

a:nth-child(5){
    width: 120px;
}

.logo{
    position:relative;
    left: -1200px;
    height: 40px;
    bottom:-4px;
  }

.gallery {

    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 390px;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc{

    padding: 15px;
    text-align: center;

}


body {

    font-size: 24px;
    font-family: sans-serif;
    background: #2c3e50;
    text-align: center;
    color: white;

}

span {
    color: #2BD6B4;
}

