nav{
    width: 100%;
    height: 50px;
    background-color:#34495e;
    font-size: 0;
    position: fixed;
    top: 0;
    z-index: 1030; 
}

nav a {
    width: 100%;
    line-height: 60px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position:relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

 nav ul {
    width: 70%;
    margin: auto;
}

a:nth-child(1){
    width: 120px;
}

a:nth-child(2){
    width: 120px;
}

a:nth-child(3){
    width: 120px;
}

a:nth-child(4){
    width: 120px;
}

a:nth-child(5){
    width: 120px;
}

body {

    font-size: 24px;
    font-family: sans-serif;
    background: #3a536d;
    text-align: center;
    color: white;
    
}

.logo{
    position:relative;
    right: 900px;
    height: 40px;
    bottom:-4px;
  }

.boton {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.h1 {
    margin: auto;
    text-emphasis: none;
}

.imagen {
    float: left;
}

.texto{

    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
