* {
  
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 60px;
    margin-top: 10px;
   
}

.contenedor img {
    width: 700px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.contenedor p{

    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;

}

.botones {
    text-align: center;
    margin-top: 10px;
}


.title {
    font-size: 40px;
    
}

.subtitulo{

    font-size: 20px;
    font-weight: bolder;
}

.horario{

    font-size: 30px;
    font-weight: bolder;
}


nav{
    width: 100%;
    height: 50px;
    background-color:#34495e;
    font-size: 0;
    position: fixed;
    top: 0;
    z-index: 1030; 
}

nav a {
    width: 100%;
    line-height: 60px;
    height: 100%;
    font-size: 18px;
    display: inline-block;
    position:relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

 nav ul {
    width: 70%;
    margin-left: auto;
}

a:nth-child(1){
    width: 120px;
}

a:nth-child(2){
    width: 140px;
}

a:nth-child(3){
    width: 160px;
}

a:nth-child(4){
    width: 180px;
}


body {

    font-size: 24px;
    font-family: sans-serif;
    background: #3a536d;
    color: white;
    
}

.logo{
    position:relative;
    right: 900px;
    height: 40px;
    bottom:-4px;
  }

.boton {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.h1 {
    margin: auto;
    text-emphasis: none;
}

.texto.imagen {
    float: left;
    width: 100px;
    height: 100px;
}

.texto{
    margin-left: 5px;
    font-family: sans-serif;
}